<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <main class="container">
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form   [formGroup]="loginform"  #login="ngForm" (ngSubmit)="autentification()" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="../../../assets/logofssm.png" alt="easyclass" />
              </div>
              <input type="hidden" [routerLink]="'home'" routerLinkActive #home="routerLinkActive" />
              <div class="heading">
                <h2>Welcome Back</h2>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
				          	required
                    type="email"
                    class="input-field"
                    placeholder="Email"
                    name="email"
                    formControlName="user"
                  />
                  <label></label>
                </div>
                <span  class="text-red-600 pb-2 " *ngIf="user?.touched && user?.valid == false ">
                      *Invalide email try a valid email
                </span>

                <div class="input-wrap">
                  <input
                    required
                    type="password"
                    class="input-field"
                    placeholder="password"
                    name="password"
                    formControlName="password"
                  />
                  <label></label>
                </div>
                <span  class="text-red-600 mb-2" *ngIf="password?.touched && password?.valid == false ">
                 * invalide password mut contain at list 8 chartacter 
                </span>

                <input type="submit" value="Sign In" class="sign-btn" />

              </div>
            </form>



          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="../../../assets/background.svg" class="image img-1 show" alt="" />

            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Get Strated</h2>
                </div>
              </div	>

              <div class="bullets">
                <span class="active" data-value="1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


    
  </body>
</html>
