
<h1 class="text-3xl mt-6">Dashboard</h1>

<main class="flex flex-wrap ">


        
        <div class="card">
            <div class="card-image"><img src="https://img.freepik.com/free-vector/abstract-orange-background-with-lines-halftone-effect_1017-32107.jpg?w=1380&t=st=1680781359~exp=1680781959~hmac=6dc83ac86f0e076aabeee92f30d1f736b8818dba751d679a0e477996e6c10165" alt=""></div>
            <div class="card-head">Techno - Web</div>
            <div class="card-body">PHP Avance</div>
            <div class="buttons flex justify-around mb-4">
                <button (click)="absence(1)"  class="bg-red-600 hover:bg-red-500 text-white font-semibold rounded hover:text-white py-2 px-4 border border-white-500 hover:border-transparent rounded outline-none">
                    Absence
                </button>
                <button (click)="telechargement(1)" class="bg-green-600 text-white hover:bg-green-400 text-green-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Telechargement
                </button>   
            </div>
        </div>
        <div class="card">
            <div class="card-image"><img src="https://img.freepik.com/free-vector/abstract-orange-background-with-lines-halftone-effect_1017-32107.jpg?w=1380&t=st=1680781359~exp=1680781959~hmac=6dc83ac86f0e076aabeee92f30d1f736b8818dba751d679a0e477996e6c10165" alt=""></div>
            <div class="card-head">Techno - Web</div>
            <div class="card-body">PHP Avance</div>
            <div class="buttons flex justify-around mb-4">
                <button (click)="absence(1)"  class="bg-red-600 hover:bg-red-500 text-white font-semibold rounded hover:text-white py-2 px-4 border border-white-500 hover:border-transparent rounded outline-none">
                    Absence
                </button>
                <button (click)="telechargement(1)" class="bg-green-600 text-white hover:bg-green-400 text-green-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Telechargement
                </button>   
            </div>
        </div>
            <div class="card">
                <div class="card-image"><img src="https://img.freepik.com/free-vector/abstract-orange-background-with-lines-halftone-effect_1017-32107.jpg?w=1380&t=st=1680781359~exp=1680781959~hmac=6dc83ac86f0e076aabeee92f30d1f736b8818dba751d679a0e477996e6c10165" alt=""></div>
                <div class="card-head">Techno - Web</div>
                <div class="card-body">PHP Avance</div>
                <div class="buttons flex justify-around mb-4">
                    <button (click)="absence(1)"  class="bg-red-600 hover:bg-red-500 text-white font-semibold rounded hover:text-white py-2 px-4 border border-white-500 hover:border-transparent rounded outline-none">
                        Absence
                    </button>
                    <button (click)="telechargement(1)" class="bg-green-600 text-white hover:bg-green-400 text-green-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Telechargement
                    </button>   
                </div>
            </div>
    

</main>